@model IEnumerable<ProductFeature>

<div class="text-center my-3">
<h6 class="display-6">Product Feature </h6>

</div>

<ul class="list-group my-3">

    @foreach (var productFeature in Model)
    {
        <li class="list-group-item"> @productFeature.value </li>

    }


</ul>