@model IEnumerable<ProductFeatureGroup>

<div class="text-center my-3">
<h6 class="display-6">Product Feature Group </h6>

</div>

<ul class="list-group my-3">

    @foreach (var productFeatureGroup in Model)
    {
        <li class="list-group-item"> @productFeatureGroup.productFeature.FirstOrDefault()</li>

    }


</ul>