@model IEnumerable<ProductFeature>

<div class="my-4">
    <ul class="list-group">
        @foreach (var productFeature in Model)
        {
            <li class="list-group-item">
                <input type="checkbox" id="checkbox @productFeature.id"/>
                @productFeature.value
            </li>
        }

    </ul>

</div>